---
###  turn on preprocessing by starting with required front matter block
---

@import 'settings';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/*
 * css styles go here
 */



body {
  font-family: $font-family;
  background-color: black;
  color: white;
}

p {
  font-family: 'Montserrat', sans-serif;
}

a, a:visited {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


#header {
  padding: 4px;
}

#header .big {
  font-size:   140%;
  font-weight: bold;
}

#header .small {
  font-size:    90%;
  color:        grey;
  padding-left: 15px;
}

#nav {
  padding: 6px;
}




